/* @import url(small.css) (min-width:0px);
@import url(large.css) (min-width:900px); */

:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: #f9faffde;
  --shadow-color: #858ebc;
}

html {
  display: block;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-shadow: var(--shadow-color) -2px 2px 8px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 10vh;
  font: 24px/1.5 serif, "Times", 'Hiragino Sans GB';
  color: #bfbfbf;
  font-size: 24px;
  writing-mode: vertical-rl;
  max-width: 400px;
  padding: 16px;
  overflow-x: clip;
  overflow-y: clip;
}